/output.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Ferramentas e notebooks
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Arquivos locais do editor e sistema
.vscode/
.DS_Store
